<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
</head>
<body>
    <main>
        <div>
          <h1>My Lists</h1>
          <table>
              <thread>
              <tr>
                  <th>Name</th>
                  <th>Number of Items</th>
              </tr>
              </thread>
              <tbody>
                {% for list in list %}
                <tr>
                        <td>{{ list.name }}</td>
                        <td>{{ list.items.all|length }}</td>
                </tr>
                {% endfor %}
             </tbody>
         </table>
        </div>
        </main>
    </body>
</html>